<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fajnie, że wiesz!</title>

    <meta property="og:title" content="Fajnie, że wiesz!" />
    <meta property="og:description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz”!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aplikacja.fajniezewiesz.pl/" />
    <meta property="og:image" content="http://aplikacja.fajniezewiesz.pl/static/img/og_share.jpg" />

    <meta name="description" content="Coraz więcej słyszysz o fake newsach, ale nie wiesz jak się przed nimi bronić? Naucz się tego z naszą edukacyjną grą „Fajnie, że wiesz”!">
    <meta name="keywords" content="Fake news, Fact checking, Quiz, Demagog">
    <meta name="author" content="Stowarzyszenie Demagog">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/fzw_logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/fzw_logo.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="fzw-webapp">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/fzw_logo.svg" color="#EF420C">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <% if (process.env.GOOGLE_ANALYTICS_TRACKER_ID) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_TRACKER_ID %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= process.env.GOOGLE_ANALYTICS_TRACKER_ID %>');
    </script> <% } else { %>
    <script>
        function gtag(){console.log('gtag', arguments);}
    </script><% } %>
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
